{% extends 'base.html.twig' %}

{% block title %}WordleSolution{% endblock %}

{% block body %}
    <h1>WordleSolution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wordle_solution.id }}</td>
            </tr>
            <tr>
                <th>CorrectWord</th>
                <td>{{ wordle_solution.correctWord }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ wordle_solution.createdAt ? wordle_solution.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wordle_index') }}">back to list</a>

    <a href="{{ path('app_wordle_edit', {'id': wordle_solution.id}) }}">edit</a>

    {{ include('wordle/_delete_form.html.twig') }}
{% endblock %}
