{% extends 'base.html.twig' %}

{% block title %}Watchlist{% endblock %}
{% block headline %}{{ movieList.name }}{% endblock %}

{% block body %}
    <div class="search-bar row mb-3">
        <div class="col-6 col-sm-9 col-md-6">
            <div class="d-flex justify-content-between">
                <div class="input-group bg-dark overflow-hidden">
                    <label for="imdb-search"></label><span class="input-group-text" id="search">Film/Serie hinzufügen:</span>
                    <input type="text" class="form-control" id="imdb-search" aria-describedby="search">
                </div>
            </div>
            <div class="search-results w-auto d-none" id="search_results"
                 data-url="{{ path('app_movie_list_movie_add', {'id': movieList.id}) }}"></div>
        </div>
        <div class="col-6 text-end d-flex justify-content-end align-items-center">
            <div class="mx-1">
                <a class="btn btn-small" href="{{ path('app_movie_list_invite_maintainer', {'id': movieList.id}) }}">
                    Maintainer hinzufügen
                </a>
                <a class="btn btn-small" href="{{ path('app_movie_list_invite_subscriber', {'id': movieList.id}) }}">
                    Subscriber hinzufügen
                </a>
            </div>
            <div>
                {{ include('movie_list/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <table class="sortableTable filterableTable" id="movieList">
                <thead>
                <tr>
                    <th class="numericSort d-none d-lg-table-cell py-1" scope="col">
                        <label><input class="table-input input-sm text-center" size="2" placeholder="Jahr"></label>
                    </th>
                    <th class="py-1 alphanumericSort" scope="col">
                        <label><input class="table-input input-sm" placeholder="Name"></label>
                    </th>
                    <th class="py-1 alphanumericSort d-none d-lg-table-cell" scope="col">
                        <label><input class="table-input input-sm" placeholder="Genre"></label>
                    </th>
                    <th class="py-1 text-center d-none d-lg-grid" scope="col">Trailer</th>
                    <th class="py-1 text-center d-lg-none" scope="col">YT</th>
                    <th class="py-1 text-center" scope="col">Verfügbarkeit</th>
                    <th class="py-1 d-none d-lg-table-cell" scope="col">Geschaut?</th>
                    <th class="py-1 d-none d-lg-table-cell" scope="col">
                        <a class="edit-table" id="editTable">✎</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for movieListEntry in movieListEntries %}
                    <tr class="{% if movieListEntry.timeWatched %}watchedRow{% endif %}">
                        <td class="d-none d-lg-table-cell text-center">{{ movieListEntry.movie.year }}</td>
                        <td class="fw-bold">
                            {{ movieListEntry.movie.name }}
                            {% if movieListEntry.timeAdded|date("U") > "-5 minutes"|date("U") %}<span
                                    class="newEntry">NEU</span>{% endif %}
                        </td>
                        <td class="d-none d-lg-table-cell">{{ movieListEntry.movie.genre|join(', ') }}</td>
                        <td class="text-center">
                            <a class="youtube-link text-white" href="https://www.youtube.com/watch?v={{ movieListEntry.movie.trailerYoutubeId }}"
                               target="_blank">↗</a>
                        </td>
                        <td class="text-center text-nowrap">
                            {% for provider in ['netflix', 'disney', 'amazon', 'youtube', 'wow', 'paramount'] %}
                                {% set str = 'inactive' %}{% if provider in movieListEntry.movie.streamProvider %}{% set str = 'active' %}{% endif %}
                                <a href="{{ path('app_movie_list_toggle_provider', {'id': movieListEntry.id, 'provider': provider}) }}">
                                    <img class="streamProvider {{ str }} mx-lg-1"
                                         src="{{ asset('img/%s.ico'|format(provider)) }}" alt="{{ provider }}">
                                </a>
                            {% endfor %}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            {% if movieListEntry.timeWatched %}
                                <div class="toggleOnEdit">{{ movieListEntry.timeWatched|date('d.m.Y') }}</div>
                            {% else %}
                                <div class="toggleOnEdit">nope</div>
                            {% endif %}
                            <div class="d-none toggleOnEdit">
                                <form class="row" method="post" action="{{ path('app_movie_list_movie_set_watched', {'id': movieListEntry.id}) }}">
                                    <div class="col-10 p-0">
                                        <label for="date" class="d-none"></label>
                                        <input id="date" name="date" formmethod="post"
                                               value="{{ movieListEntry.timeWatched|date('d.m.Y') }}">
                                    </div>
                                    <div class="col-2 p-0">
                                        <button type="submit">OK</button>
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <a class="d-none removeMovie toggleOnEdit text-center"
                               href="{{ path('app_movie_list_movie_delete', {'id': movieListEntry.id}) }}">
                                <img class="delete" src="{{ asset('img/delete.png') }}" width="20" height="20"
                                     alt="removeMovie">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
